{% extends "master.html.twig" %}

{% block content %}

    {% if errorList %}
        <ul>
            {% for error in errorList %}
                <li class="errorMessage">{{error}}</li>
                {% endfor %}
        </ul>
    {% endif %}
    <div>
        <form method='post'>
            <div >
                <img src="/images/{{ v.imagePath }}" class="img-rounded"/>
                <label for="parent_id">Parent ID :</label>
                <input type='text' name="parent_id" value="{{v.parent_id}}" class="form-control" 
                       placeholder="input first bane">
                <label for="first_name">First Name :</label>
                <input type='text' name="first_name" value="{{v.first_name}}" class="form-control" 
                       placeholder="input first nane">
                <label for="last_name">Last Name :</label>
                <input type='text' name="last_name" value="{{v.last_name}}" class="form-control" 
                       placeholder="input last name">
                <label for="gender">gender:</label>
                <input type= "combobox" name="gender" value="{{v.gender}}" class="form-control" 
                          placeholder="select gender">
                <label for="birthdate">Birth Date :</label>
                <input type='date' name="birthdate" value="{{v.birthdate}}" class="form-control" 
                       placeholder="input birth date">
                <label for="alergies">Alergies :</label>
                <input type='date' name="alergies" value="{{v.alergies}}" class="form-control" 
                       placeholder="input alergies">
                <label for="imagePath">Image Name:</label>
                <input type='file' name="imagePath" value="{{v.imagePath}}" class="form-control" 
                       placeholder="input image name"
                       accept="image/png, image/jpeg"
                       >
                <label for="status">Status:</label>
                <input type='text' name="status" value="{{v.status}}" class="form-control" 
                       placeholder="input status"><br>

                <input type='submit' 
                       value = "{% if v.id %}save{% else %}Add{% endif %} product" 
                       class="btn btn-primary">
            </div>
        </form>

    </div>
    <p>To get back to index <a href="/"> click here</a></p>
{% endblock content %}