{% extends "master.html.twig" %}

{% block content %}

    {% if errorList %}
        <ul>
            {% for error in errorList %}
                <li class="errorMessage">{{error}}</li>
                {% endfor %}
        </ul>
    {% endif %}
    <div>
        <form method='post'>
            <div >
                <img src="/images/{{ v.imagePath }}" class="img-rounded"/>
                <label for="first_name">First Name :</label>
                <input type='text' name="first_name" value="{{v.first_name}}" class="form-control" 
                       placeholder="input first nane">
                <label for="last_name">Last Name :</label>
                <input type='text' name="last_name" value="{{v.last_name}}" class="form-control" 
                       placeholder="input last name">
                <label for="gender">gender:</label>
                <input type= "combobox" name="gender" value="{{v.gender}}" class="form-control" 
                          placeholder="select gender">
                <label for="email">email :</label>
                <input type='email' name="email" value="{{v.email}}" class="form-control" 
                       placeholder="input email">
                <label for="address">Address :</label>
                <textarea name="address" value="{{v.addres}}" class="form-control" 
                          placeholder="input address"
                          rows="4" cols="50"></textarea>
                <label for="city">City :</label>
                <input type='text' name="city" value="{{v.city}}" class="form-control" 
                       placeholder="input city">
                <label for="state">state :</label>
                <input type='text' name="state" value="{{v.state}}" class="form-control" 
                       placeholder="input state">
                <label for="homephone">Home Phone :</label>
                <input type='text' name="homephone" value="{{v.homephone}}" class="form-control" 
                       placeholder="input home phone">
                <label for="cellphone">cell phone :</label>
                <input type='text' name="cellphone" value="{{v.cellphone}}" class="form-control" 
                       placeholder="input cellphone">
                <label for="imagePath">Image Name :</label>
                <input type='file' name="parentimage" value="{{v.parentimage}}" class="form-control" 
                       placeholder="input image name"
                       accept="image/png, image/jpeg"
                       >
                <label for="type_responsable">Type responsable :</label>
                <input type='text' name="status" value="{{v.type_responsable}}" class="form-control" 
                       placeholder="input responsable"><br>
                <label for="otherdetails">Other details :</label>
                <textarea name="otherdetails" value="{{v.otherdetails}}" class="form-control" 
                          placeholder="input other details"
                          rows="4" cols="50"></textarea>
                <input type='submit' 
                       value = "{% if v.id %}save{% else %}Add{% endif %} product" 
                       class="btn btn-primary">
            </div>
        </form>

    </div>
    <p>To get back to index <a href="/"> click here</a></p>
{% endblock content %}