{% extends "master.html.twig" %}

{% block content %}

    {% if errorList %}
        <ul>
            {% for error in errorList %}
                <li class="errorMessage">{{error}}</li>
                {% endfor %}
        </ul>
    {% endif %}
    <div>
        <form method='post'>
            <div >
                <img src="/images/{{ v.image }}" class="img-rounded"/>
                <label for="first_name">First Name :</label>
                <input type='text' name="first_name" value="{{v.first_name}}" class="form-control" 
                       placeholder="input first nane">
                <label for="last_name">Last Name :</label>
                <input type='text' name="last_name" value="{{v.last_name}}" class="form-control" 
                       placeholder="input last name">
                <label for="email">Email :</label>
                <input type='email' name="email" value="{{v.email}}" class="form-control" 
                       placeholder="input email">
                <label for="image">Image Name:</label>
                <input type='file' name="image" value="{{v.image}}" class="form-control" 
                       placeholder="input image name"
                       accept="image/png, image/jpeg, image/jpg,, image/gif"
                       >
                <label for="type_staff">Type Staff:</label>
                <input type='text' name="type_staff" value="{{v.type_staff}}" class="form-control" 
                       placeholder="input type staff">
                <label for="group">Group:</label>
                <input type='text' name="group" value="{{v.group}}" class="form-control" 
                       placeholder="input group"><br>
                <input type='submit' 
                       value = "{% if v.id %}save{% else %}Add{% endif %} staff" 
                       class="btn btn-primary">
            </div>
        </form>

    </div>
    <p>To get back to index <a href="/"> click here</a></p>
{% endblock content %}