{% extends "master.html.twig" %}

{% block content %}
<p>Are you sure you want to delete the following product?</p>
<p>{{item.id}}: {{item.name}} at {{item.price}}</p>
<div>{{item.description}}</div>


<p>To get back to product <a href="/"> click here</a></p>
{% endblock content %}
