{% extends "master_list.html.twig" %}

{% block headAdd %}
    <script>
        $(document).ready(function () {

  $('#getAuthor').load("/ajax/register/list");
  $('select[name=authorid]').off();
            $('select[name=role]').on('change', function () {
                var selectedrole = $('#getId option:selected').val();
                $('#getAuthor').load("/ajax/register/list/" + selectedrole);


            });

        });
    </script>
{% endblock headAdd %}


{% block content %}
    <h1 class="text-primary">Register List</h1>
    <p><a href="/admin/register/add" class="btn btn-primary">Register Add</a></p>
    
     <div>
        <select name="role" id='getId' >
            <option value="" >All</option> 
            <option value="admin" >Admin</option> 
            <option value="educator" >Educator</option> 
            <option value="parent" >Parent</option> 
            

        </select>
    </div>
    <div id="getAuthor">
      
    </div>
    
    
    <div>
        
        <table class="table">
            <thead class=thead-dark>
                <tr bgcolor=#CCCCCC>
                    <th scope=col>Id</th>
                    <th scope=col>First Name</th>
                    <th scope=col>Last Name</th>
                    <th scope=col>email</th>
                    <th scope=col>Phone number</th>
                    <th scope=col>Image</th>
                    <th scope=col>Role</th>
                    <th scope=col>Action</th>
                </tr>
            </thead>
            {% for users in usersList %}
                <tr>
                    <th scope=row> {{ users.user_id }} </th>
                    <td> {{ users.first_name }} </td>
                    <td> {{ users.last_name }} </td>
                    <td> {{ users.email }} </td>
                    <td> {{ users.phone_number }} </td>
                    <td align="center"> <img src="/{{ users.image }}" class="img-rounded"/> </td>
                    <td> {{ users.role}} </td>
                    <td>    
                        <a href="/admin/register/edit/{{ users.user_id }}" class="btn btn-success">Edit</a>
                        <a href="/admin/register/delete/{{ users.user_id }}" onClick="return confirm('Are you sure you want to delete?')" class="btn btn-warning"> Delete </a>
                    </td>
                </tr>

            {% endfor %}
        </table>
    </div>
    <p>To get back to index <a href="/"> click here</a></p>
{% endblock content %}