{% extends "master_list.html.twig" %}

{% block content %}
    <div id='centerContent'>
    <h1 class="text-primary">Staff List</h1>
    <p><a href="/admin/register/add" class="btn btn-primary">Register Add</a></p>
    <div>
        
        <table class="table">
            <thead class=thead-dark>
                <tr bgcolor=#CCCCCC>
                    <th scope=col>Id</th>
                    <th scope=col>First Name</th>
                    <th scope=col>Last Name</th>
                    <th scope=col>email</th>
                    <th scope=col>Phone number</th>
                    <th scope=col>Image</th>
                    <th scope=col>Role</th>
                    <th scope=col>Action</th>
                </tr>
            </thead>
            {% for users in usersList %}
                <tr>
                    <th scope=row> {{ users.user_id }} </th>
                    <td> {{ users.first_name }} </td>
                    <td> {{ users.last_name }} </td>
                    <td> {{ users.email }} </td>
                    <td> {{ users.phone_number }} </td>
                    <td align="center"> <img src="/{{ users.image }}" class="img-rounded"/> </td>
                    <td> {{ users.role}} </td>
                    <td>    
                        <a href="/admin/register/edit/{{ users.user_id }}" class="btn btn-success">Edit</a>
                        <a href="/admin/register/delete/{{ users.user_id }}" onClick="return confirm('Are you sure you want to delete?')" class="btn btn-warning"> Delete </a>
                    </td>
                </tr>

            {% endfor %}
        </table>
    </div>
    <p>To get back to index <a href="/"> click here</a></p>
    </div><br>
{% endblock content %}