/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : jun 14, 2019, 6:21:20 p.m.
    Author     : Than
*/

body {
    background-color: lightblue;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: table;
}

#centerContentSmall {
    border-radius: 18px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    width: 600px; /* 960px is standard */
    background-color: whitesmoke;
}

#centerContent {
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    width: 1200px; /* 960px is standard */
    background-color: whitesmoke;
}

#centerContentSmall {
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    width: 600px; /* 960px is standard */
    background-color: whitesmoke;
}

#centerContentList {
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    width: 98%; /* 960px is standard */
    background-color: whitesmoke;
}

.errorMessage {
    font-weight: bold;
    background-color: lightgoldenrodyellow;
    color: red;
}

.article {
    margin-bottom: 30px;
}

.article h1 {
    font-size: 20px;
    text-align: center;
}

.article h2 {
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
img {
    height: 100px;
}
.bottom {
    display: table-row;
    height: 0;
}


.btn:focus, .btn:active, button:focus, button:active {
    outline: none !important;
    box-shadow: none !important;
}

#image-gallery .modal-footer{
    display: block;
}

.thumb{
    margin-top: 15px;
    margin-bottom: 15px;
}

.img {
    position: relative;
    float: left;
    width:  120px;
    height: 120px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}