{% extends "master.html.twig" %}

{% block title %}Access denied {% endblock %}

{% block content %}
    <div id='centerContentSmall'>
        <h3>Internal error</h3>
        <p>We've encountered an error. Our team of conding is already working on it. We apologize for the inconvenience.</p>
    <img src="/images/accessdenied.gif" class="img-rounded"/>
    <p>Access denied, <a href="/">click to go main page</a></p>
    </div>

{% endblock content %}

