{% extends "master.html.twig" %}

{% block content %}

    {% if errorList %}
        <ul>
            {% for error in errorList %}
                <li>{{error}}</li>
                {% endfor %}
        </ul>
    {% endif %}
    <div id="centerContent">
        <h1 class="text-primary">LOGIN</h1>
        <div class='row'>
            <div class='col-4'>
            <form class= "form-horizontal" method='post'>
                <div class="form-group" >
                    <label for="email" class="control-label col-sm-3">Email :</label>
                    <div class="col-sm-7">
                        <input type='email' name="email" value="{{v.email}}" class="form-control" placeholder="input Email">
                    </div>
                </div>
                <div class="form-group" >
                    <label for="pass1" class="control-label col-sm-3">Password :</label>
                    <div class="col-sm-7">
                        <input type='password' name="password" value="{{v.pass1}}" class="form-control" placeholder="input password">
                    </div>
                </div>
                <div class="form-group" >
                    <div class="col-sm-3"></div>
                    <div class="col-sm-7">
                        <input type='submit' value = "Login" class="btn btn-primary">
                    </div>
                </div>  
            </form>
            </div>
            <div class="col-8">
                <p></p>
                {% if errorList %}
                    <p class=errorMessage">Invalid login, tray again or </p>                      
                    <a href="/register" class="btn btn-warning">Add user</a>
                {% endif %}
                
            </div>
        </div>

        <p>To get back to index <a href="/"> click here</a></p>
    </div>
{% endblock content %}