{% extends "master.html.twig" %}

{% block content %}
    <div id="centerContentSmall">
        <p>User logged in successfully</p>
        <p>To get back to index <a href="/"> click here</a></p>
    </div>
{% endblock content %}
