{% extends "master.html.twig" %}

{% block headAdd %}
    <script>
        $(document).ready(function () {

  $('#getAuthor').load("/ajax/child/list");
  $('select[name=groups]').off();
            $('select[name=groups').on('change', function () {
                var selectedgroups = $('#getId option:selected').val();
                $('#getAuthor').load("/ajax/child/list/" + selectedgroups);
                
            });
        });
    </script>
    
{% endblock headAdd %}

{% block content %}
    <div id="centerContent">
    <h1 class="text-primary">Child List</h1>
    <p><a href="/admin/child/add" class="btn btn-primary">Child Add</a></p>
    <br>
        <lablel>Filter by group </label>
        <select name="groups" id='getId' mdb-select md-form colorful-select dropdown-primary >
            <option value="" >Select Group</option> 
            <option value="blue" >blue</option> 
            <option value="green" >green</option> 
            <option value="red" >red</option> 
        </select>
    <br><br>
    <div id="getAuthor">
                
    </div>
        <p>To get back to index <a href="/"> click here</a></p>
    </div><br>
    
{% endblock content %}