{% extends "master.html.twig" %}

{% block content %}
    <div id="centerContent">
    <p>Are you sure you want to check in the following child?</p>
    <p>Child Id: {{item.child_id}} </p>
    <p>Names: {{item.first_name}} {{item.last_name}}</p>
    <div><p>group: {{item.groups}}</p></div>
    <div> <span class="border"><img src="/{{ item.image }}" class="img-rounded"/> </span></div>
    <br>
    <button style="margin-right: 20px" onclick="window.location='/admin/child/attendance/list'" class="btn btn-warning">Cancel</button>
    <form style="display:inline" method="post" action="/admin/child/attendance/add/{{item.child_id}}">
        <input type="hidden" name="confirmed" value="true">
        <input type="submit" value="Submit Attendance" class="btn btn-warning">
    </form>
    </div>
{% endblock %}
