{% extends "master.html.twig" %}

{% block content %}
    <div id="centerContentSmall">
        <p>Are you sure you want to delete the following child?</p>
         <p>Attendance Id: {{item.attendance_id}}</p> 
         <p>Names: {{item.first_name}}: {{item.last_name}}</p>
        <div><p>group: {{item.groups}}</p></div>
        <div> <span class="border"><img src="/{{ item.image }}" class="img-rounded"/> </span></div>
        <br>
        <button style="margin-right: 20px" onclick="window.location='/admin/child/attendance/list'" class="btn btn-warning">Cancel</button>
        <form style="display:inline" method="post" action="/admin/child/attendance/delete/{{item.attendance_id}}">
            <input type="hidden" name="confirmed" value="true">
            <input type="submit" value="Delete forever" class="btn btn-warning">
        </form>
            
    </div>
{% endblock %}


