{% extends "master.html.twig" %}

{% block headAdd %}
    
{% endblock headAdd %}

{% block content %}

    {% if errorList %}
        <ul>
            {% for error in errorList %}
                <li class="errorMessage">{{error}}</li>
                {% endfor %}
        </ul>
    {% endif %}
    
   <div id="centerContent" class="container-fluid">
        <h1 class="text-primary">REGISTER CHILD</h1>
        <div class="row">
            <div class="col-xs-9 col-md-7">
                
                <div class="row">
                    <div class='col-xs-8 col-md-10'>
                        <form class= "form-horizontal" method='post' enctype="multipart/form-data">
                            <div class="form-group">
                                <div class="control-label col-sm-3">
                                    <br>
                                </div>
                                <img  src="/{{v.image}}" alt="Image child" class="rounded col-sm-4">
                            </div>
                            
                                <div class="form-group">
                                <label for="user_id" class="control-label col-sm-3" >Parent Id :</label>
                                <select id="user_id" name='user_id' class='col-sm-6'>
                                    <option value=''>Select parents</option>
                                    {% for users in userParents %}
                                        <option value='{{users.user_id}}' {% if users.user_id==v.user_id%}selected{% endif %}>{{users.user_id}} - {{users.first_name}} {{users.last_name}}</option>
                                    {% endfor %}    
                                </select>
                            </div>   
                            
                            <div class="form-group">
                                <label for="first_name" class="control-label col-sm-3">First Name :</label>
                                <input type='text' id='first_name' name="first_name" value="{{v.first_name}}" 
                                       placeholder="input first nane" class="col-sm-6">
                            </div>

                            <div class="form-group">
                                <label for="last_name" class="control-label col-sm-3">Last Name :</label>
                                <input type='text' id='last_name' name="last_name" value="{{v.last_name}}" class="col-sm-6" 
                                       placeholder="input last name">
                            </div>

                            <div class="form-group">
                                <label for="gender" class=" control-label col-sm-3">Gender :</label>
                                <select id="gender" name='gender' class="col-sm-2" >
                                    <option value='Male' {% if v.gender=='male' %}selected{% endif %}  >Male</option>
                                    <option value='Female' {% if v.gender=='female' %}selected{% endif %}>Female</option>
                                </select>
                            </div>            
                            <div class="form-group">
                                <label for="birthdate" class="control-label col-sm-3">Email :</label>
                                <input type='date' id='birthdate' name="birthdate" value="{{v.birthdate}}" placeholder="input Birth Date" required class='col-sm-6'>
                            </div>

                            <div class="form-group">
                                <label for="blood_type" class="control-label col-sm-3">Blood Type :</label>
                                <input type='text' id='blood_type' name="blood_type" value="{{v.blood_type}}" placeholder="input blood_type">
                            </div>
                            <div class="form-group">
                                <label for="alergies" class="control-label col-sm-3">Alergies :</label>
                                <input type='alergies' id='alergies' name="alergies" value="{{v.alergies}}" placeholder="input alergies"><br>
                            </div>
                            <div class="form-group">
                                <label for="childImage" class="control-label col-sm-3">Image Name:</label>
                                <input type='file' id='childImage' name="childImage" value="{{v.image}}"  
                                       placeholder="input image name"
                                       accept="image/png, image/jpeg, image/jpg, image/gif"
                                       >
                            </div>
                            <div class="form-group">
                                <label for="groups" class="control-label col-sm-3" >Group :</label>
                                <select id="groups" name='groups' class='col-sm-3'>
                                    <option value='blue' {% if v.groups=='blue'%}selected{% endif %}>blue</option>
                                    <option value='green' {% if v.groups=='green'%}selected{% endif %}>green</option>
                                    <option value='red' {% if v.groups=='red'%}selected{% endif %}>red</option>
                                </select>
                            </div>    

                            <div class='form-group' >
                                <div class='col-sm-3'> </div>
                                <input type='submit' 
                                       value = "{% if v.child_id %}save{% else %}Add{% endif %} Register" 
                                       class="btn btn-primary col-sm-3">
                            </div>
                        </form>
                        <p></p>
                       
                    </div>
                </div>
            
            
            
            </div>
        
        <div class=" col-xs-3 col-md-5" style="background-color:lavender;">
            <div class="row">
                <br><p>PARENTS</p>
                <div class="col-xs-2 col-md-4" style="background-color:lavender;">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-left img-rounded" src="/{{v.parentimage}}" alt="image parent">
                    </div>
                </div>
                <div class="col-xs-4 col-md-6" style="background-color:lavender;">
                    <div class="card" style="width: 25rem;">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Role: {{v.role}}</li>
                            <li class="list-group-item">Parent: {{v.name}} {{v.secondname}}</li>
                            <li class="list-group-item">phone: {{v.phone_number}}</li>
                        </ul>
                    </div>
                </div>
                {% for family in familyPickUp %}
                <div class="col-xs-2 col-md-4" style="background-color:lavender;">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-left img-rounded" src="/{{family.image}}" alt="image parent">
                    </div>
                </div>
                <div class="col-xs-4 col-md-6" style="background-color:lavender;">
                    <div class="card" style="width: 25rem;">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Role: {{family.type_responsable}}</li>
                            <li class="list-group-item">Parent: {{family.first_name}} {{family.last_name}}</li>
                            <li class="list-group-item">phone: {{family.cellphone}}</li>
                        </ul>
                    </div>
                </div>
                {% endfor  %}      
                        
            </div>

        </div>
        
        </div>
<p>To get back to index <a href="/"> click here</a></p>
    
    </div>
   
        

    {% endblock content %}