{% extends "master.html.twig" %}

{% block content %}
    <div id="centerContent">
    <p>Are you sure you want to delete the following child?</p>
    <p>{{item.child_id}}: {{item.first_name}} {{item.last_name}}</p>
    <div>{{item.gmail}}</div>
    <br>
    <button style="margin-right: 20px" onclick="window.location='/admin/child/list'" class="btn btn-warning">Cancel</button>
    <form style="display:inline" method="post" action="/admin/child/delete/{{item.child_id}}">
        <input type="hidden" name="confirmed" value="true">
        <input type="submit" value="Delete forever" class="btn btn-warning">
    </form>
    </div>
{% endblock %}
