{% extends "master.html.twig" %}
{% block headAdd %}
    <script>
        $(document).ready(function () {

            $('#getListAttendance').load("/ajax/child/attendance/list");
            $('select[name=groups]').off();
            $('select[name=groups').on('change', function () {
                var selectedgroups = $('#getId option:selected').val();
                $('#getListAttendance').load("/ajax/child/attendance/list/" + selectedgroups);

            });
        });
    </script>

{% endblock headAdd %}
{% block content %}
                
    <div id='centerContent'>
            <div class="container">
            <div  class=" gallery-container" >
                <h1 class="text-danger">For Pick up</h1>
                    <div class="tz-gallery">
                            <div class="row mb-3">
                        {% for childList in listPickUp %}
                                        
                            <div class="card col-md-4" style="width:120px" >
                                <img class="img" class="card-img-top img-thumbnail" src="/{{ childList.image }}" alt="Card image" style="width:100%">
                                <div class="card-body">
                                    <h4 class="card-title">{{ childList.first_name }} {{ childList.last_name }}</h4>
                                    <p class="card-text">Group: {{ childList.groups }}</p>
                                    <a href="/admin/child/attendance/checkout/{{ childList.attendance_id }}" onClick="return confirm('Are you sure you want check out?')" class="btn btn-danger">Check Out</a>
                                </div>
                            </div>
                                   {% endfor %}
                                    </div>
                            </div>
                </div>
            </div>
        </div>

    <div id="centerContent">
        <h1 class="text-primary">Attendance List</h1>
        <p><a href="/admin/child/list" class="btn btn-primary">Children List</a></p>
        <br>
        <lablel>Filter by group </label>
            <select name="groups" id='getId' mdb-select md-form colorful-select dropdown-primary >
                <option value="" >Select Group</option> 
                <option value="blue">blue</option>
                <option value="green">green</option> 
                <option value="red">red</option>
            </select>
            <br><br>
            <div id="getListAttendance">

            </div>
            <p>To get back to index <a href="/"> click here</a></p>
    </div><br>

{% endblock content %}