{% extends "master.html.twig" %}

{% block content %}
    <div id="centerContentSmall">
    <p>Are you sure you want to delete the following parent?</p>
    <p>Parent Id :{{item.parent_id}} </p> 
    <p>Name: {{item.first_name}} {{item.last_name}}</p>
    <div>{{item.gmail}}</div>
    <br>
    <button style="margin-right: 20px" onclick="window.location='/admin/parents/list'">Cancel</button>
    <form style="display:inline" method="post" action="/admin/parents/delete/{{item.parent_id}}">
        <input type="hidden" name="confirmed" value="true">
        <input type="submit" value="Delete forever">
    </form>
    <div id="centerContentSmall">
{% endblock %}
