{% extends "master.html.twig" %}

{% block headAdd %}
    <script>
        $(document).ready(function () {

  $('#getAuthor').load("/ajax/parents/list");
  $('select[name=authorid]').off();
            $('select[name=type_responsable]').on('change', function () {
                var selectedrole = $('#getId option:selected').val();
                $('#getAuthor').load("/ajax/parents/list/" + selectedrole);


            });

        });
    </script>
{% endblock headAdd %}

{% block content %}
    <div id="centerContent">
    <h1 class="text-primary">Parents-Family List</h1>
    <p><a href="/admin/parents/add" class="btn btn-primary">Register Parents Add</a></p>
    
     <div>
         <lablel>Filter by Family: </label>
        <select name="type_responsable" id='getId' >
            <option value="" >All</option> 
            <option value="father" >father</option> 
            <option value="mother" >mother</option> 
            <option value="authorized_pickup" >authorized_pickup</option> 
            
            

        </select>
    </div><br>
    
    <div id="getAuthor">
      
    </div>
    
    <p>To get back to index <a href="/"> click here</a></p>
    </div><br>
{% endblock content %}