{% extends "master.html.twig" %}

{% block content %}
    <div id="centerContentSmall">
    <p>Product deleted successfully,
        <a href="/admin/parents/list">click to continue</a></p>
    <div>
{% endblock %}
