{% extends "master.html.twig" %}

{% block headAdd %}
    <script>
        $(document).ready(function () {
            $('input[name=email]').keyup(function () {
                var email = $('input[name=email').val();
                $('#isTaken').load("/isemailregistered/" + email);
            });
        });
    </script>
{% endblock headAdd %}


{% block content %}

    {% if errorList %}
        <ul>
            {% for error in errorList %}
                <li class="errorMessage">{{error}}</li>
                {% endfor %}
        </ul>
    {% endif %}
    <div id="centerContent">
        <h1 class="text-primary">REGISTER USER</h1>
        <div class="row">
            <div class='col-8'>
                <form class= "form-horizontal" method='post' enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="first_name" class="control-label col-sm-3">First Name :</label>
                            <input type='text' id='first_name' name="first_name" value="{{v.first_name}}" 
                                   placeholder="input first nane" class="col-sm-6">
                    </div>

                    <div class="form-group">
                        <label for="last_name" class="control-label col-sm-3">Last Name :</label>
                        <input type='text' id='last_name' name="last_name" value="{{v.last_name}}" class="col-sm-6" 
                               placeholder="input last name">
                    </div>

                    <div class="form-group">
                        <label for="gender" class=" control-label col-sm-3">Gender :</label>
                        <select id="gender" name='gender' class="col-sm-2" >
                            <option value='Male' {% if v.gender=='male' %}selected{% endif %}  >Male</option>
                            <option value='Female' {% if v.gender=='female' %}selected{% endif %}>Female</option>
                        </select>
                    </div>            
                    <div class="form-group">
                        <label for="email" class="control-label col-sm-3">Email :</label>
                        <input type='email' id='email' name="email" value="{{v.email}}" placeholder="input Email" required class='col-sm-6'>
                        <span class="errorMessage" id="isTaken"></span> 
                    </div>
                        
                    <div class="form-group">
                        <label for="phone_number" class="control-label col-sm-3">Phone Number :</label>
                        <input type='telf' id='phone_number' name="phone_number" value="{{v.phone_number}}" class="col-sm-6" 
                               placeholder="input phone number"
                               pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                               required>
                        <small>Format: 514-456-7890</small>
                    </div>
                    <div class="form-group">
                        <label for="pass1" class="control-label col-sm-3">Password :</label>
                        <input type='password' id='pass1' name="pass1" value="{{v.pass1}}" placeholder="input password">
                    </div>
                    <div class="form-group">
                        <label for="pass2" class="control-label col-sm-3">Password (repeat):</label>
                        <input type='password' id='pass2' name="pass2" value="{{v.pass2}}" placeholder="repeat password"><br>
                    </div>
                    <div class="form-group">
                        <label for="userImage" class="control-label col-sm-3">Image Name:</label>
                        <input type='file' id='userImage' name="userImage" value="{{v.imagePath}}"  
                               placeholder="input image name"
                               accept="image/png, image/jpeg, image/jpg, image/gif"
                               >
                    </div>
                    <div class="form-group">
                        <label for="role" class="control-label col-sm-3" >Role</label>
                        <select id="role" name='role' class='col-sm-2'>
                            <option value='parent' {% if v.role=='parent'%}selected{% endif %}>Parent</option>
                            <option value='authorized_pickup' {% if v.role=='authorized_pickup'%}selected{% endif %}>Authorized for Pickup</option>
                            <option value='educator' {% if v.role=='educator'%}selected{% endif %} >Educator</option>
                            <option value='user' {% if v.role=='user'%}selected{% endif %}>User</option>
                            {% if v.role=='admin'%}
                            <option value='admin' {% if v.role=='admin'%}selected{% endif %}>admin</option>
                            {% endif %}
                        </select>
                    </div>    

                    <div class='form-group' >
                        <div class='col-sm-3'> </div>
                        <input type='submit' 
                               value = "{% if v.user_id %}save{% else %}Add{% endif %} Register" 
                               class="btn btn-primary col-sm-3">
                    </div>
                </form>
                <p></p>
                {% if errorList %}
                    <p class=errorMessage">Invalid login, tray again or </p>                      
                    <a href="/register" class="btn btn-warning">Add user</a>
                {% endif %}
            </div>
        </div>
        <p>To get back to index <a href="/"> click here</a></p>

    {% endblock content %}