{% extends "master.html.twig" %}

{% block content %}
    <p>Are you sure you want to delete the following product?</p>
    <p>{{item.user_id}}: {{item.first_name}} {{item.last_name}}</p>
    <div>{{item.gmail}}</div>
    <br>
    <button style="margin-right: 20px" onclick="window.location='/admin/register/list'">Cancel</button>
    <form style="display:inline" method="post" action="/admin/register/delete/{{item.user_id}}">
        <input type="hidden" name="confirmed" value="true">
        <input type="submit" value="Delete forever">
    </form>
{% endblock %}
