{% extends "master.html.twig" %}

{% block headAdd %}
    <script>
        $(document).ready(function () {

  $('#getAuthor').load("/ajax/register/list");
  $('select[name=authorid]').off();
            $('select[name=role]').on('change', function () {
                var selectedrole = $('#getId option:selected').val();
                $('#getAuthor').load("/ajax/register/list/" + selectedrole);


            });

        });
    </script>
{% endblock headAdd %}

{% block content %}
    <div id="centerContent">
    <h1 class="text-primary">Register List</h1>
    <p><a href="/admin/register/add" class="btn btn-primary">Register Add</a></p>
    
     <div>
         <lablel>Filter by Role: </label>
        <select name="role" id='getId' >
            <option value="" >All</option> 
            <option value="admin" >Admin</option> 
            <option value="educator" >educator</option> 
            <option value="parent" >parent</option> 
            <option value="user" >user</option> 
            

        </select>
    </div><br>
    
    <div id="getAuthor">
      
    </div>
    
    <p>To get back to index <a href="/"> click here</a></p>
    </div><br>
{% endblock content %}