
    <div>
        <table class="table">
            <thead class=thead-dark>
                <tr bgcolor=#CCCCCC>
                    <th scope=col>Id</th>
                    <th scope=col>First Name</th>
                    <th scope=col>Last Name</th>
                    <th scope=col>email</th>
                    <th scope=col>Phone numbers</th>
                    <th scope=col>Image</th>
                    <th scope=col>Type family</th>
                    <th scope=col>Action</th>
                </tr>
            </thead>
            {% for users in list %}
                <tr>
                    <th scope=row> {{ users.parent_id }} </th>
                    <td> {{ users.first_name }} </td>
                    <td> {{ users.last_name }} </td>
                    <td> {{ users.email }} </td>
                    <td> cell: {{ users.cellphone }} home: {{ users.homephone }} </td>
                    <td align="center"> <img src="/{{ users.image }}" class="img-rounded"/> </td>
                    <td> {{ users.type_responsable}} </td>
                    <td>    
                        <a href="/admin/parents/edit/{{ users.parent_id }}" class="btn btn-info">Edit</a>
                        <a href="/admin/parents/delete/{{ users.parent_id }}" onClick="return confirm('Are you sure you want to delete?')" class="btn btn-warning"> Delete </a>
                    </td>
                </tr>

            {% endfor %}
        </table>
    </div>
    