
    <div>
        <table class="table">
            <thead class=thead-dark>
                <tr bgcolor=#CCCCCC>
                    <th scope=col>Id</th>
                    <th scope=col>Name</th>
                    <th scope=col>Date Time Start</th>
                    <th scope=col>Date Time End</th>
                    <th scope=col>Group</th>
                    <th scope=col>Pick up by</th>
                    <th scope=col>Status</th>
                    <th scope=col>image</th>
                    <th scope=col>Action</th>
                </tr>
            </thead>
            {% for childList in list %}
                <tr>
                    <th scope=row> {{ childList.attendance_id }} </th>
                    <td> {{ childList.first_name }} {{ childList.last_name }} </td>
                    <td> {{ childList.attendance_started }} </td>
                    <td> {{ childList.attendance_ended }} </td>
                    <td align="right"> {{ childList.groups }} </td>
                    <td align="right"> {{ childList.parent_id }} </td>
                    <td align="right"> {{ childList.status }} </td>
                    <td align="center"> <img src="/{{ childList.image }}" class="img" class="img-rounded"/> </td>
                    <td>    
                        <a href="/admin/child/attendance/checkout/{{ childList.attendance_id }}" onClick="return confirm('Are you sure you want check out?')" class="btn btn-danger">Check Out</a>
                        <a href="/admin/child/edit/{{ childList.child_id }}" class="btn btn-info">Profile Child</a>
                        <a href="/admin/child/attendance/delete/{{ childList.attendance_id }}" onClick="return confirm('Are you sure you want to delete?')" class="btn btn-warning"> Delete </a>
                    </td>
                </tr>

            {% endfor %}
        </table>
    </div>
    