
    <div>
        <table class="table">
            <thead class=thead-dark>
                <tr bgcolor=#CCCCCC>
                    <th scope=col>Id</th>
                    <th scope=col>First Name</th>
                    <th scope=col>Last Name</th>
                    <th scope=col>Gender</th>
                    <th scope=col>Birth date</th>
                    <th scope=col>Image</th>
                    <th scope=col>Group</th>
                    <th scope=col>Action</th>
                </tr>
            </thead>
            {% for child in list %}
                <tr>
                    <th scope=row> {{ child.child_id }} </th>
                    <td> {{ child.first_name }} </td>
                    <td> {{ child.last_name }} </td>
                    <td> {{ child.gender }} </td>
                    <td> {{ child.birthdate }} </td>
                    <td align="center"> <img src="/{{ child.image }}" class="img-rounded"/> </td>
                    <td> {{ child.groups }} </td>
                    <td> 
                        <a href="/admin/child/attendance/add/{{ child.child_id }}" class="btn btn-success">Check In</a>
                        <a href="/admin/child/edit/{{ child.child_id }}" class="btn btn-info">Edit</a>
                        <a href="/admin/child/delete/{{ child.child_id }}" onClick="return confirm('Are you sure you want to delte?')" class="btn btn-warning"> Delete </a>
                    </td>
                </tr>

            {% endfor %}
        </table>
    </div>
    